body {
  margin: 0;
  height: 100000px;
  background-color: grey;
}

.container-fluid {
  padding: 15px;
}
.capivara {
  width: 80px;
}
.position-sticky {
  position: sticky;
  top: 0;
  z-index: 3;
}
.carrosel-principal {
  width: 560px;
  margin: 0;
  margin-left: 28%;
}
.back {
  background-color: blue;
}
