body {
  margin: 0;
  height: 100000px;
  background-color: lightgray;
  transition: background 0.5s linear, color 0.5s linear;
}
body.dark {
  background-color: #2d3037;
  color: white;
}
.container-fluid {
  padding: 3px;
}
.capivara {
  width: 80px;
}
.position-sticky {
  position: sticky;
  top: 0;
  z-index: 3;
}
.carrosel-principal {
  width: 560px;
  margin: 0;
  margin-left: 28%;
}

.row {
  margin: 50px;
  gap: 50px;
}
.container {
  position: absolute;
  top: 75%;
  left: 10%;
}

.container-2 {
  position: absolute;
  top: 90%;
  left: 15%;
}
label {
  background-color: black;
  border-radius: 40%;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  transition: background 0.5s linear;
}

body.dark label {
  background-color: white;
}
input {
  visibility: hidden;
}
